@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* dynamic scroll gradient vars (JS updates these) */
  --bg-a: rgb(47 7 67);
  --bg-b: rgb(65 41 90);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* One single background that morphs continuously => no seams */
  background: linear-gradient(120deg, var(--bg-a), var(--bg-b));
  transition: background 120ms linear;
  overflow-x: hidden;
}
